# Travis CI credentials

language: scala

services:
    - mysql

cache:
  directories:
   - $HOME/.ivy2/cache
   - $HOME/.sbt/boot/scala-$TRAVIS_SCALA_VERSION

sudo: false

scala:
 - "2.10.5"
 - "2.11.7"

# Emails to notify
notifications:
  slack:
    rooms:
      - websudos: P9QNXx1ZGFnDHp3v3jUqtB8k

  email:
  - dev@websudos.com

# Branches to build.
branches:
  only:
    - master
    - develop

sudo: false

jdk:
  - oraclejdk7
  - openjdk7


before_script:
  - travis_retry sbt ++$TRAVIS_SCALA_VERSION update
  - mysql -e "CREATE DATABASE morpheus_test;"
  - mysql -e "CREATE USER 'morpheus'@'localhost' IDENTIFIED BY 'morpheus23!';"
  - mysql -e "SET PASSWORD FOR 'travis'@'localhost' = PASSWORD('morpheus23!')"

script:
  - sbt ++$TRAVIS_SCALA_VERSION clean coverage test

after_success:
  - sbt ++$TRAVIS_SCALA_VERSION coverageAggregate
  - sbt ++$TRAVIS_SCALA_VERSION coveralls